.flex-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 90px 0 90px 0;
  gap: 40px;
}

.flex-block-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.content-block {
  text-align: center;
  width: 100%;
}

.image-card {
  width: 220px;
  height: 304px;
  border-radius: 24px;
  object-fit: cover;
  object-position: center top;
  flex-shrink: 0;
}

.image-card-placeholder {
  width: 220px;
  height: 304px;
  border-radius: 24px;
  margin: 0 auto;
}

.product-name {
  text-align: center;
  font: 600 40px 'Roboto';
}

.product-price {
  text-align: center;
  font: 400 32px/1.2 'Roboto';
  color: #990424;
  margin: 30px 0 40px 0;
}

.product-description {
  text-align: center;
  white-space: break-spaces;
  font: 400 16px 'Roboto';
}

.location {
  margin-top: 30px;
}

.location-availability {
  font: 300 16px/1.5 'Roboto';
  color: #000000;
}

.product-availability {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.availability-shop-name {
  font: 300 24px 'Roboto';
}

.availability-shop-count {
  font: 300 24px 'Roboto';
  color: #990424;
}

@media (max-width: 860px) {
  .product-name {
    font: 600 14px 'Roboto';
  }

  .availability-shop-name {
    font: 300 14px 'Roboto';
  }

  .availability-shop-count {
    font: 300 14px 'Roboto';
  }

  .product-availability {
    padding: 0 10px;
  }
  .flex-block {
    padding: 50px 0;
  }
}
