.mobileHeader {
  display: none;
  flex-direction: column;
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;

  .mobileHeaderTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0 0;
  }

  .mobileIconsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }

  .mobileHeaderSearch {
    padding-bottom: 20px;
  }
}

.desktopHeader {
  color: #fff;
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.15);

  .headerContent {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.mainIcon {
  color: #4f4f4f;
  transition: color 0.3s ease;
  
  &:hover {
    color: #990424;
    cursor: pointer;
  }
}

.iconsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    margin: 0px 19.5px;
  }
}

@media (max-width: 860px) {
  .mobileHeader {
    display: flex;
    padding: 0 10px 20px 10px;
    margin-bottom: 0px;
  }

  .desktopHeader {
    display: none;
  }
}
