.footer {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px -2px 10px -2px rgba(0, 0, 0, 0.15);
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-family: Roboto;
  font-size: 14px;
  color: #8a8a8a;
}
