.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 70px);
  background: #fff;
  bottom: 0;
  z-index: 10;
  padding: 35px 35px 0px 35px;

  .mobile-menu__header {
    display: flex;
    justify-content: space-between;

    .header__close-button {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #4f4f4f;
    }
    .header__right-side {
      display: flex;
      align-items: center;
      gap: 20px;

      .header__button {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: #4f4f4f;
      }
    }
  }
  .mobile-menu__categories {
    margin-top: 50px;
    font-family: Roboto;
    color: #4f4f4f;
    font-weight: 300;
    font-size: 24px;

    li {
      margin-bottom: 17px;
    }
    li:last-child {
      margin: 0;
    }
  }
  .mobile-menu__social-networks {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 22px;

    .social-network {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #4f4f4f;
    }
  }
}
