.button-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  flex-shrink: 0;
  background: #990424;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  cursor: pointer;
}

.icon-search {
  color: white;
}

.button-search:hover {
  background: #ac1b3a;
}